@font-face{
    font-family: 'Retroica';
    src:url('Retroica.ttf');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --one: #ff513e;
    --two: #ff7364;
    --three: #d735df;
    --four: #00bbff;
    --five: #43ffe6;
    --six: rgb(19, 23, 28);
    --seven: rgb(33, 42, 53);
    
    --eight:#ce9178;
    --nine:#1e1e1e;
    --ten:#94cea8;
    --eleven:#9cdcfe;
    --twelve:#d7ba71;
    --thirteen:#454545;

    --black003:rgba(0, 0, 0, 0.03);
    
}

body{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
    cursor: default;
}

#header{
    height:50px;
    width:100%;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    left:0;
    background: var(--thirteen);
    border-bottom: 5px solid var(--one);
    z-index: 1000000;
}


#nav{
    width: 100%;
    float:left;
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.navbtn{
    border:none;
    font-size: 20px;
    padding:5px 10px;
    margin:0px 10px;
    color:var(--white);
    background: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    transition: 0.2s ease;
}

.navbtn:active , .active , .navbtn:hover{
    color: var(--one);
}

#main1{
    min-height:100vh;
    background: var(--nine);
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#main1h1{
    padding-top: 100px;
    padding-left: 50px;
    font-size: 150px;
    color: var(--white);
    font-weight:600;
}

#main1p1{
    font-size: 40px;
    font-weight: 300;
    color: var(--white);
    text-align: center;
}

#main1p1 span{
    color:var(--one);
}

  canvas {
    display: block;
  }
  
  @media (max-width:425px){
      canvas{
        width:100%;
      }
  }
  
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

#main2{
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--black);
    
}

.homeh1{
    font-size: 50px;
    margin-top: 70px;
    color: var(--nine);
    font-weight: 400;
}

#homediv1{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.homediv1div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    height:400px;
    width:250px;
    border-radius: 30px;
    margin:20px;
    background: linear-gradient(var(--black003), var(--black003), transparent);
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
}

.homediv1div1:hover, .homediv1div1:focus{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.homediv1div1p1{
    font-size:30px;
    font-weight: 400;
}

.homediv1div1:nth-child(4) p:nth-child(1){
width:100%;
}

.homediv1div1p2{
    margin-top: 20px;
    
}

.homediv1div1img{
    position: absolute;
    top:200px;
    right:100px;
    opacity: 0.4;
    z-index:-10;
}
#home2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#home2div1{
    width: 100%;
    display: flex;
    justify-content: center;
}

#home2div1div1{
    width:500px;
    padding:30px;
    border-radius: 30px;
    margin: 20px;
    margin-top: 40px;
    background: linear-gradient(var(--black003), var(--black003), transparent);
    transition: 0.5s ease;
}

.home2div1div1p2{
    margin-top: 20px;
    margin-left: 20px;
}

#home2div1div1:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#home2div1div2{
    width:500px;
    padding:30px;
    border-radius: 30px;
    margin: 20px;
    margin-top: 40px;
    /* background: linear-gradient(var(--black003), var(--black003), transparent); */
    transition: 0.5s ease;
}

/* #home2div1div2:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} */
.home2div1div2p2{
    margin-top: 20px;
    list-style: none;
}

.home2div1div2p2 span{
    font-weight: 400;
}

#home2icon{
    width:100;
    height:100;
    opacity: 0.2;
    position: absolute;
    right:-200px;
    bottom:-200px;
    z-index: -10;
}

#pageServices{
    height: 100vh;
    width:100%;
    display: none;
}

#pageContact{
    height: 100vh;
    width:100%;
    display: none;
}

#home3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 50px;
}

#home3p1{
    text-align: justify;
}