@media (max-width:500px){

    body{
        font-size: 16px;
    }

    header{
        padding: 5px 20px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    }

    .header-div-1 h1{
        font-size: 20px;
    }

    main{
        margin: 20px 10px;
    }

    .section-1{
        flex-direction: column;
        box-shadow:none;
        border:1px solid rgba(0,0,0,0.1);
    }

    .section-1 div{
        padding: 30px 25px;
    }

    .section-1 div:nth-child(1) img{
        height: 200px;
        width: auto;
    }

    .section-1 div:nth-child(1){
        margin-bottom: -30px;
    }

    .ft-23{
        font-size: 18px;
    }
    .free-pdf-btn{
        width:100%;
    }
}