*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100%;
    font-size: 20px;
}

header{
    padding: 6px 25px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.header-div-1 h1{
    font-size: 23px;
}

.container-1 p{
    font-size: 25px;
}

footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer ul li{
    margin: 0px 1px;
}

.svg-size{
    height: 25px;
    width: 25px;
}

.g-fill{
    fill:rgb(150,150,150);
}

main{
    margin: 20px 30px;
}

.section-1{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.section-1 div{
    padding: 30px;
}

.section-1 div:nth-child(1) img{
    height: 300px;
    width: auto;
}

.section-1 div:nth-child(2){
    flex: 1;
}

.ft-wt-1{
    font-weight: 600;
}

.ft-23{
    font-size: 23px;
}

.btn-1{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    outline: none;
}

.free-pdf-btn{
    margin-top: 20px;
    color: rgba(255,255,255,1);
    background: rgb(18, 217, 0);
    transition: 0.2s;
}

.free-pdf-btn:hover{
    box-shadow: 0px 0px 15px 1px rgba(21, 255, 0, 0.5);
}

.a-1{
    color:rgb(0, 98, 255);
    text-decoration: none;
}

.formName{
    padding: 8px 15px;
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.3);
    outline: none;
}